* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-1 {
    width: 100%;
    background-color: rgb(79, 136, 16);
}

.header-container1 {
    width: 80%;
    margin: 0 auto;
}

.main-class ul {
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

.main-class ul li {
    list-style-type: none;

}

.main-class ul span {
    color: white;
    font-size: 16px;
}

/* ========================== */
/* ==========responsive media section1================= */
@media only screen and (max-width: 576px) {
    .main-class ul {
        padding: 7px;

    }

    .main-class ul span {
        font-size: 10px;
    }

}

@media only screen and (min-width: 576px) {
    .main-class ul {
        padding: 7px;

    }

    .main-class ul span {
        font-size: 10px;
    }

}

@media only screen and (min-width: 768px) {
    .main-class ul {
        padding: 7px;

    }

    .main-class ul span {
        font-size: 10px;
    }

}

@media only screen and (min-width: 992px) {
    .main-class ul {
        padding: 10px;

    }

    .main-class ul span {
        font-size: 14px;
    }

}

@media only screen and (min-width: 1200px) {
    .main-class ul {
        padding: 15px;

    }

    .main-class ul span {
        font-size: 16px;
    }

}


/* }======================================== */
.header-2 {
    width: 100%;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 22222;
    background: antiquewhite;

}

.header-container2 {
    width: 80%;
    margin: 0 auto;

}

.header-main-div {
    padding: 20px;
    display: flex;

}

.header-main-div .logo {
    flex: 1;
}

.header-main-div .logo h1 {
    color: green;
    font-weight: bold;
    font-size: 30px;
}

.header-bar ul {
    justify-content: space-around;
    display: flex;
}

.header-bar ul li {
    list-style-type: none;


}

.header-bar ul li a {
    text-decoration: none;
    color: green;
    font-size: 18px;

}

.header-bar {
    flex: 1;
}

.bar-button span {
    color: white;
    padding: 5px;
    background-color: black;
    font-size: 15px;
    display: none;

}

.button-btn {
    width: 140px;
    height: 50px;
    border-radius: 15px;
    background-color: rgb(79, 136, 16);
    color: white;
    border: none;
    font-size: 15px;
    transition: 0.5s all ease;


}

.button-btn:hover {
    background-color: transparent;
    color: green;
    border: 1px solid green;
}

/* ========responsible=========================== */

@media only screen and (max-width: 576px) {
    .header-main-div .logo h1 {
        color: green;
        font-weight: bold;
        font-size: 20px;
    }

    .header-bar ul {
        display: none;
    }

    .bar-button span {
        display: block;

    }

    .right-nav {
        display: block;
    }

    .display-menu {
        position: relative;
        display: block;
    }

    .header-2 .header-container2 .header-main-div .menu {
        display: block;
        background-color: rgb(96, 145, 24);
        text-align: center;
        position: absolute;
        top: 70px;
        right: 50px;
        width: 170px;
        height: 300px;
        border-radius: 10px;
    }

    .header-2 .header-container2 .header-main-div .menu ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-2 .header-container2 .header-main-div .menu ul li a {
        color: white;

    }

    .menu li {
        padding: 10px;
    }

}

@media only screen and (min-width: 576px) {
    .header-main-div .logo h1 {
        color: green;
        font-weight: bold;
        font-size: 20px;
    }

    .header-bar ul {
        display: none;
    }

    .bar-button span {
        display: block;

    }

    .right-nav {
        display: block;
    }

    .display-menu {
        position: relative;
        display: block;
    }

    .header-2 .header-container2 .header-main-div .menu {
        display: block;
        background-color: rgb(96, 145, 24);
        text-align: center;
        position: absolute;
        top: 70px;
        right: 50px;
        width: 170px;
        height: 300px;
        border-radius: 10px;
    }

    .header-2 .header-container2 .header-main-div .menu ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-2 .header-container2 .header-main-div .menu ul li a {
        color: white;

    }

    .menu li {
        padding: 10px;
    }


}

@media only screen and (min-width: 768px) {
    .header-main-div .logo h1 {
        color: green;
        font-weight: bold;
        font-size: 25px;
    }

    .header-bar ul {
        display: block;
        display: flex;
        justify-content: space-around;
    }

    .bar-button {
        display: none;
    }


}

@media only screen and (min-width: 992px) {
    .header-main-div .logo h1 {
        color: green;
        font-weight: bold;
        font-size: 25px;
    }

    .header-bar ul {
        display: block;
        display: flex;
        justify-content: space-around;
    }

    .bar-button {
        display: none;
    }
}

@media only screen and (min-width: 1200px) {
    .header-main-div .logo h1 {
        color: green;
        font-weight: bold;
        font-size: 30px;
    }

    .header-bar ul {
        display: block;
        display: flex;
        justify-content: space-around;
    }

    .bar-button {
        display: none;
    }


}

/* ============================= */
.landing-page-sec {
    width: 100%;
}

.landing-img-sec {
    background-image: url(../image/v1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.336);
    background-blend-mode: overlay;

}

.right-nav {
    padding-top: 200px;
    padding-left: 50px;
}

.right-nav span a {
    text-decoration: none;
    font-size: 22px;
}

.anchor-tag a {
    color: rgb(34, 34, 231);

}

.anchor-tag-color a {
    color: black;
}

/* =============================== */
.quantity-product-sec {
    width: 100%;
    padding-top: 30px;
}

.quantity-container {
    width: 70%;
    margin: 0 auto;
}

.qantity-list {
    display: flex;
    background-color: rgb(188, 231, 212);
    gap: 50px;
    justify-content: center;

}

.quantity-product-list {
    padding-top: 20px;
}

.qantity-list li {
    list-style: none;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
}

/* =============== */
@media only screen and (max-width: 576px) {
    .qantity-list {
        display: flex;
        background-color: rgb(188, 231, 212);
        gap: 10px;
        justify-content: center;

    }
}

@media only screen and (min-width: 576px) {
    .qantity-list {
        display: flex;
        background-color: rgb(188, 231, 212);
        gap: 10px;
        justify-content: center;

    }
}

@media only screen and (min-width: 768px) {
    .qantity-list {
        display: flex;
        background-color: rgb(188, 231, 212);
        gap: 20px;
        justify-content: center;

    }
}

@media only screen and (min-width: 992px) {
    .qantity-list {
        display: flex;
        background-color: rgb(188, 231, 212);
        gap: 50px;
        justify-content: center;

    }
}

@media only screen and (min-width: 1200px) {
    .qantity-list {
        display: flex;
        background-color: rgb(188, 231, 212);
        gap: 50px;
        justify-content: center;

    }
}

/* =============== */
/* @media only screen and (max-width: 576px) {
    .qantity-list{
        gap: 10px;
    
    }
}
@media only screen and (min-width: 576px) {
    .qantity-list{
        gap: 10px;
    
    }
}
@media only screen and (min-width: 576px) {
    .qantity-list{
        gap: 50px;
    
    }
}
@media only screen and (min-width: 992px) {
    .qantity-list{
        gap: 50px;
    
    }
}
@media only screen and (min-width: 1200px) {
    .qantity-list{
        gap: 50px;
    
    }
} */
/* ====================================*/
.billing-form {
    width: 100%;
    padding-bottom: 50px;
    padding-top: 50px;

}

.billing-container {
    width: 90%;
    margin: 0 auto;
}

form {
    width: 550px;
    margin: 0 auto;
}

.billing-main-section {}

.billing-title h1 {
    padding-bottom: 20px;
    text-align: center;
}

.row-sec {
    display: flex;
    justify-content: space-around;

}

.col-sec {
    padding: 10px;
}

.col-sec h2 {
    padding-bottom: 32px;
}

.col-sec h3 {
    padding-bottom: 10px;
}

.col-sec input {
    width: 260px;
    height: 40px;
    font-size: 16px;
}

.account-check {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.form-check-inline a {
    color: black;
    font-size: 16px;
    font-family: sans-serif;
    text-decoration: none;
}

.button {
    text-align: center;
    padding: 10px;
}

.button a {
    text-decoration: none;
    color: white;
    font-weight: bold;

}

button:hover a {
    background-color: transparent;
    color: green;
    border: 1px solid green;
}

@media only screen and (max-width: 576px) {}