* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-1 {
    width: 100%;
    background-color: rgb(79, 136, 16);
}

.header-container1 {
    width: 80%;
    margin: 0 auto;
}

.main-class ul {
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

.main-class ul li {
    list-style-type: none;

}

.main-class ul span {
    color: white;
    font-size: 16px;
}

/* ========================== */
/* ==========responsive media section1================= */
@media only screen and (max-width: 576px) {
    .main-class ul {
        padding: 7px;

    }

    .main-class ul span {
        font-size: 10px;
    }

}

@media only screen and (min-width: 576px) {
    .main-class ul {
        padding: 7px;

    }

    .main-class ul span {
        font-size: 10px;
    }

}

@media only screen and (min-width: 768px) {
    .main-class ul {
        padding: 7px;

    }

    .main-class ul span {
        font-size: 10px;
    }

}

@media only screen and (min-width: 992px) {
    .main-class ul {
        padding: 10px;

    }

    .main-class ul span {
        font-size: 14px;
    }

}

@media only screen and (min-width: 1200px) {
    .main-class ul {
        padding: 15px;

    }

    .main-class ul span {
        font-size: 16px;
    }

}


/* }======================================== */
.header-2 {
    width: 100%;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 22222;
    background: antiquewhite;

}

.header-container2 {
    width: 80%;
    margin: 0 auto;

}

.header-main-div {
    padding: 20px;
    display: flex;

}

.header-main-div .logo {
    flex: 1;
}

.header-main-div .logo h1 {
    color: green;
    font-weight: bold;
    font-size: 30px;
}

.header-bar ul {
    justify-content: space-around;
    display: flex;
}

.header-bar ul li {
    list-style-type: none;


}

.header-bar ul li a {
    text-decoration: none;
    color: green;
    font-size: 18px;

}

.header-bar {
    flex: 1;
}

.bar-button span {
    color: white;
    padding: 5px;
    background-color: black;
    font-size: 15px;
    display: none;

}

/* ========responsible=========================== */

@media only screen and (max-width: 576px) {
    .header-main-div .logo h1 {
        color: green;
        font-weight: bold;
        font-size: 20px;
    }

    .header-bar ul {
        display: none;
    }

    .bar-button span {
        display: block;

    }

    .right-nav {
        display: block;
    }

    .display-menu {
        position: relative;
        display: block;
    }

    .header-2 .header-container2 .header-main-div .menu {
        display: block;
        background-color: rgb(96, 145, 24);
        text-align: center;
        position: absolute;
        top: 70px;
        right: 50px;
        width: 170px;
        height: 300px;
        border-radius: 10px;
    }

    .header-2 .header-container2 .header-main-div .menu ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-2 .header-container2 .header-main-div .menu ul li a {
        color: white;

    }

    .menu li {
        padding: 10px;
    }


}

@media only screen and (min-width: 576px) {
    .header-main-div .logo h1 {
        color: green;
        font-weight: bold;
        font-size: 20px;
    }

    .header-bar ul {
        display: none;
    }

    .bar-button span {
        display: block;

    }

    .right-nav {
        display: block;
    }

    .display-menu {
        position: relative;
        display: block;
    }

    .header-2 .header-container2 .header-main-div .menu {
        display: block;
        background-color: rgb(96, 145, 24);
        text-align: center;
        position: absolute;
        top: 70px;
        right: 50px;
        width: 170px;
        height: 300px;
        border-radius: 10px;
    }

    .header-2 .header-container2 .header-main-div .menu ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-2 .header-container2 .header-main-div .menu ul li a {
        color: white;

    }

    .menu li {
        padding: 10px;
    }



}

@media only screen and (min-width: 768px) {
    .header-main-div .logo h1 {
        color: green;
        font-weight: bold;
        font-size: 25px;
    }

    .header-bar ul {
        display: block;
        display: flex;
        justify-content: space-around;
    }


}

@media only screen and (min-width: 992px) {
    .header-main-div .logo h1 {
        color: green;
        font-weight: bold;
        font-size: 25px;
    }

    .header-bar ul {
        display: block;
        display: flex;
        justify-content: space-around;
    }
}

@media only screen and (min-width: 1200px) {
    .header-main-div .logo h1 {
        color: green;
        font-weight: bold;
        font-size: 30px;
    }

    .header-bar ul {
        display: block;
        display: flex;
        justify-content: space-around;
    }


}

/* ============================= */
.landing-page-sec {
    width: 100%;
}

.landing-img-sec {
    background-image: url(../image/v1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.336);
    background-blend-mode: overlay;

}

.right-nav {
    padding-top: 200px;
    padding-left: 50px;
}

.right-nav span a {
    text-decoration: none;
    font-size: 22px;
}

.anchor-tag a {
    color: rgb(34, 34, 231);

}

.anchor-tag-color a {
    color: black;
}


/* ======================= */
.category-sec {
    width: 100%;
}

.landing-page-container {
    width: 90%;
    margin: 0 auto;
}

.category-main-div {
    display: flex;
}

.category-div1 {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.catogory-info-sec {
    background-color: aquamarine;
}

.category-sec {
    width: 100%;
}

.category-container {
    width: 90%;
    margin: 0 auto;
}

.category-main-div {
    justify-content: space-around;
}

.category-img-sec {
    display: flex;
    gap: 20px;
    padding: 30px;
}

.category-img img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.category-content .para {
    color: gray;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
}

.category-content h1 {
    padding-top: 20px;
    width: 440px;
    font-weight: lighter;
    font-family: sans-serif;
}

.category-content .category-para {
    color: gray;
    width: 400px;
    font-size: 18px;
    font-family: sans-serif;
    padding-bottom: 20px;
    padding-top: 20px;
}

.catogory-div2 {
    width: 30%;
}

.catogory-div2 .search-btn input {
    width: 260px;
    height: 40px;
    font-size: 16px;
    position: relative;
}


.catogory-div2 .search-btn {
    padding-bottom: 50px;
    padding-top: 50px;
    position: relative;
}

.catogory-div2 i {
    position: absolute;
    top: 55px;
    right: 115px;
    padding: 7px;
    background-color: rgba(0, 0, 0, 0.137);
}

.catogory-div2 .catogory-list li {
    list-style: none;
    font-family: sans-serif;
    padding: 10px;

}


.catogory-div2 .catogory-list h2 {
    font-weight: lighter;
    font-family: sans-serif;
    padding-bottom: 20px;
}

.recent-blog-sec {
    display: flex;
    padding-bottom: 20px;
}

.recent-blog-sec .recent-img img {
    width: 130px;
    height: 130px;
    object-fit: cover;
}

.recent-content {
    padding-left: 20px;
}

.recent-content .recent-para {
    font-family: system-ui;
    font-size: 21px;
    font-weight: lighter;
    color: gray;
    padding-bottom: 10px;
}

.recent-tag .recent-p {
    font-weight: bold;
    font-family: sans-serif;
    padding-bottom: 30px;
    font-size: 25px;
}

.recent-info {
    display: flex;
    gap: 3px;
}

.recent-info .recent-info-1 span {
    color: gray;
    font-size: 15px;
    font-family: system-ui;
}

.tag-cloud-paragraph h1 {
    font-family: sans-serif;
    font-weight: lighter;
    padding-bottom: 30px;

}

.tag-cloud-paragraph .pragraph-para {
    font-size: 17px;
    line-height: 24px;
    color: rgb(156, 148, 148);
    font-family: sans-serif;
}

/* ===========responsive================== */
@media only screen and (max-width: 576px) {
    .category-main-div {
        display: flex;
        flex-direction: column;
    }

    .category-img-sec {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 30px;
    }

    .category-img img {
        width: 450px;
        height: 300px;
        object-fit: cover;
    }

    .catogory-div2 i {

        right: -300px;
    }

    .catogory-div2 .search-btn input {
        width: 460px;
    }

    .recent-content .recent-para {
        width: 300px;
    }

    .tag-cloud-paragraph .pragraph-para {
        width: 500px;
        padding-bottom: 30px;
    }
}

@media only screen and (min-width: 576px) {
    .category-main-div {
        display: flex;
        flex-direction: column;
    }

    .category-img-sec {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 30px;
    }

    .category-img img {
        width: 450px;
        height: 300px;
        object-fit: cover;
    }

    .catogory-div2 i {

        right: -300px;

    }

    .catogory-div2 .search-btn input {
        width: 460px;

    }

    .recent-content .recent-para {
        width: 300px;
    }

    .tag-cloud-paragraph .pragraph-para {
        width: 500px;
        padding-bottom: 30px;
    }
}

@media only screen and (min-width: 768px) {
    .category-main-div {
        display: flex;
        flex-direction: column;
    }

    .category-img-sec {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 30px;
    }

    .category-img img {
        width: 450px;
        height: 300px;
        object-fit: cover;
    }

    .catogory-div2 i {

        right: -300px;

    }

    .catogory-div2 .search-btn input {
        width: 460px;

    }

    .recent-content .recent-para {
        width: 300px;
    }

    .tag-cloud-paragraph .pragraph-para {
        width: 500px;
        padding-bottom: 30px;
    }
}

@media only screen and (min-width: 992px) {
    .category-main-div {
        display: flex;
        flex-direction: row;
    }

    .category-img-sec {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 30px;
    }

    .category-img img {
        width: 400px;
        height: 300px;
        object-fit: cover;
    }

    .catogory-div2 i {
        right: 15px;
    }

    .catogory-div2 .search-btn input {
        width: 260px;
    }

    .recent-content .recent-para {
        width: 200px;
    }

    .tag-cloud-paragraph .pragraph-para {
        width: 300px;
        padding-bottom: 30px;
    }
}

@media only screen and (min-width: 992px) {
    .category-main-div {
        display: flex;
        flex-direction: row;
    }

    .category-img-sec {
        display: flex;
        flex-direction: row;
        gap: 20px;
        padding: 30px;
    }

    .category-img img {
        width: 250px;
        height: 250px;
        object-fit: cover;
    }

    .catogory-div2 i {
        right: 115px;
    }

    .catogory-div2 .search-btn input {
        width: 260px;
    }


    .recent-content .recent-para {
        width: 200px;
    }


    .tag-cloud-paragraph .pragraph-para {
        width: 380px;
        padding-bottom: 30px;
    }
}