* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-1 {
    width: 100%;
    background-color: rgb(79, 136, 16);
}

.header-container1 {
    width: 80%;
    margin: 0 auto;
}

.main-class ul {
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

.main-class ul li {
    list-style-type: none;

}

.main-class ul span {
    color: white;
    font-size: 16px;
}

/* ========================== */
/* ==========responsive media section1================= */
@media only screen and (max-width: 576px) {
    .main-class ul {
        padding: 7px;

    }

    .main-class ul span {
        font-size: 10px;
    }

}

@media only screen and (min-width: 576px) {
    .main-class ul {
        padding: 7px;

    }

    .main-class ul span {
        font-size: 10px;
    }

}

@media only screen and (min-width: 768px) {
    .main-class ul {
        padding: 7px;

    }

    .main-class ul span {
        font-size: 10px;
    }

}

@media only screen and (min-width: 992px) {
    .main-class ul {
        padding: 10px;

    }

    .main-class ul span {
        font-size: 14px;
    }

}

@media only screen and (min-width: 1200px) {
    .main-class ul {
        padding: 15px;

    }

    .main-class ul span {
        font-size: 16px;
    }

}


/* }======================================== */
.header-2 {
    width: 100%;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 22222;
    background: antiquewhite;

}

.header-container2 {
    width: 80%;
    margin: 0 auto;

}

.header-main-div {
    padding: 20px;
    display: flex;

}

.header-main-div .logo {
    flex: 1;
}

.header-main-div .logo h1 {
    color: green;
    font-weight: bold;
    font-size: 30px;
}

.header-bar ul {
    justify-content: space-around;
    display: flex;
}

.header-bar ul li {
    list-style-type: none;


}

.header-bar ul li a {
    text-decoration: none;
    color: green;
    font-size: 18px;

}

.header-bar {
    flex: 1;
}

.bar-button span {
    color: white;
    padding: 5px;
    background-color: black;
    font-size: 15px;
    display: none;

}

/* ========responsible=========================== */

@media only screen and (max-width: 576px) {
    .header-main-div .logo h1 {
        color: green;
        font-weight: bold;
        font-size: 20px;
    }

    .header-bar ul {
        display: none;
    }

    .bar-button span {
        display: block;

    }

}

@media only screen and (min-width: 576px) {
    .header-main-div .logo h1 {
        color: green;
        font-weight: bold;
        font-size: 20px;
    }

    .header-bar ul {
        display: none;
    }


}

@media only screen and (min-width: 768px) {
    .header-main-div .logo h1 {
        color: green;
        font-weight: bold;
        font-size: 25px;
    }

    .header-bar ul {
        display: block;
        display: flex;
        justify-content: space-around;
    }


}

@media only screen and (min-width: 992px) {
    .header-main-div .logo h1 {
        color: green;
        font-weight: bold;
        font-size: 25px;
    }

    .header-bar ul {
        display: block;
        display: flex;
        justify-content: space-around;
    }
}

@media only screen and (min-width: 1200px) {
    .header-main-div .logo h1 {
        color: green;
        font-weight: bold;
        font-size: 30px;
    }

    .header-bar ul {
        display: block;
        display: flex;
        justify-content: space-around;
    }


}
/* ============================= */
.landing-page-sec{
    width: 100%;
}

.landing-img-sec {
     background-image: url(../image/v1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    height: 300px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.336);
    background-blend-mode: overlay;

}

 .right-nav{
    padding-top: 200px;
    padding-left: 50px;
}
.right-nav span a{
    text-decoration: none;
    font-size: 22px;
}

.anchor-tag a{
    color: rgb(34, 34, 231);

} 
.anchor-tag-color a{
    color: black;
}

.payment-method{
    width: 100%;
}
.payment-method-container{
    width: 90%;
    margin: 0 auto;
}
.payment-method-main {
    display: flex;
}
.button {
    width: 140px;
    height: 50px;
    border-radius: 15px;
    background-color: rgb(79, 136, 16);
    color: white;
    border: none;
    font-size: 15px;
    transition: 0.5s all ease;


}

.button:hover {
    background-color: transparent;
    color: green;
    border: 1px solid green;
}